*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

.container{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.container .main{
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    border-radius: 25px;
    box-shadow: 6px 8px 30px rgb(65, 63, 63);
    background: white;
}

.main .left{
    background-image: url('./images/home/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding-left: 2em
}

.main .left .image{
    height: 10%;
    padding-top: 2em;
}

.main .left .text{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center
}

.main .left .text h1{
    font-size: 4rem;
    text-transform: capitalize
}

.main .right{
    padding: 2em;
    padding-bottom: 3em;
    background: rgb(255, 255, 255)
}

.main .right .error_msg{
    display: flex;
    justify-content: space-between;
    background: rgba(245, 154, 154, 0.836);
    padding: 0 1em;
    border-radius: 5px;
    height: 50px;
    margin-top: 1em
}

.main .right .error_msg div{
    display: flex;
    align-items: center
}

.main .right .error_msg #error_1{
    width: 100%;
    height: 100%;
    padding: 0
}

.main .right .error_msg #error_1 p{
    color: black;
    opacity: 1;
    padding: 0;
    margin: 0
}

.main .right .error_msg #close_icon{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.main .right h1{
    font-size: 2.5rem;
    font-weight: bolder
}

.main .right form{
    margin-top: 1em
}

.main .right form .input_div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em
}

.main .right form div label{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    opacity: 0.7
}

.main .right form div input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    padding-left: 5px;
    outline: none
}

.main .right form input[type="submit"]{
    background: #d87d4a;
    border: none;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 0.5em;
    cursor: pointer;
}

.login_link{
    margin-top: 1.5em
}

.login_link a{
    text-decoration: none;
    font-weight: bolder;
    color: #d87d4a
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
@media (max-width:1100px){
    .container .main{
        height: 80%;
        width: 90%;
    }
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
@media (max-width:767pX){

    .container .main{
        width: 100%;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .main .left{
        display: none
    }

    .main .right{
        width: 80%;
        box-shadow: 6px 8px 30px rgb(65, 63, 63);
    }

}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
@media (max-width:450pX){

    .container .main{
        width: 100%;
        border-radius: none;
        display: flex;
        box-shadow: none
    }

    .main .left{
        display: none
    }

    .main .right{
        width: 100%;
        box-shadow: none
    }

}