{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audiophile</title>
  <link rel="stylesheet" href="{% static 'commerce/checkout.css' %}">
  <script src="{% static 'commerce/checkout.js' %}"></script>
</head>
<body>
  <div class="container">
    <!-- <div class="successful"> -->
      <div class="successful">
        <h2>Transaction</h2>
        <div class="checkmark">
          <span></span>
        </div>
        <h2>Successful</h2>
        <button id="transaction_end">Home</button>
      </div>
    <!-- </div> -->
    <div class="shadow"></div>
    <header>
        <!-- topnav -->
        <div class="top_nav">
          <div class="top-left">
            <img src="{% static 'commerce/images/shared/logo.svg' %}" alt="">
          </div>
          <div class="top-center">
            <nav>
              <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'headphones' %}">Headphones</a></li>
                <li><a href="{% url 'speaker' %}">Speakers</a></li>
                <li><a href="{% url 'earphones' %}">Earphones</a></li>
              </ul>
            </nav>
          </div>
          <div class="top-right">
            <img style="cursor: pointer;" data-name="{{product.Product_Name}}" id="cartimage" src="{% static 'commerce/images/shared/cart.svg' %}" alt="nothing">
            <sup id="sup">{{User_cart.Cart.count}}</sup>
          </div>
        </div>
      <!-- mobile_nav -->
      <div style="transition: all 0.3s ease-in">
          <div class="mobile-top-nav">
              <div class="mobile-top-nav-left">
                <img style="cursor: pointer;" id="mobile_cartimage" src="{% static 'commerce/images/shared/cart.svg' %}" alt="nothing">
                <sup id="mobilesup"></sup>
              </div>
            <div class="mobile-top-nav-center">
              <img src="{% static 'commerce/images/shared/logo.svg' %}" alt="">
            </div>
            <div class="mobile-top-nav-right">
              <img style="cursor: pointer;" id="hamburger" src="{% static 'commerce/images/icon-hamburger.svg' %}" alt="">
              <img style="cursor: pointer;z-index: 1000000" id="close" src="{% static 'commerce/images/icon-navclose.svg' %}" alt="">
            </div>
          </div>
          <!-- mobile navbar links -->
          <div class="mobile_nav_link">
            <div>
              <img class="link_image" src="{% static 'commerce/images/shared/imageheadphones.png' %}" alt="">
              <h3>Headphones</h3>
              <div class="link_sec">
                <div>
                  <p><a href="{% url 'headphones' %}" >SHOP</a></p> 
                </div>
                <div>
                  <img class="arrow" src="{% static 'commerce/images/shared/icon-arrow-right.svg' %}" alt="">
                </div>
              </div>
            </div>
            <!--  -->
            <div>
              <img  class="link_image" src="{% static 'commerce/images/shared/imagespeakers.png' %}" alt="">
              <h3>Speakers</h3>
              <div class="link_sec">
                <div>
                  <p><a href="{% url 'headphones' %}" >SHOP</a></p> 
                </div>
                <div>
                  <img class="arrow" src="{% static 'commerce/images/shared/icon-arrow-right.svg' %}" alt="">
                </div>
              </div>
            </div>
            <div>
              <img  class="link_image" src="{% static 'commerce/images/shared/imageearphones.png' %}" alt="">
              <h3>Earphones</h3>
              <div class="link_sec">
                <div>
                  <p><a href="{% url 'headphones' %}" >SHOP</a></p> 
                </div>
                <div>
                  <img class="arrow" src="{% static 'commerce/images/shared/icon-arrow-right.svg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
    </header>
    <div id="cart">
      <div class="topp">
          <img height="20px" id="closecart" src="{% static 'commerce/images/icon-close.svg' %}" alt="">
      </div>
      <div class="bottom">
        <div class="one">
          <h2>Cart(<span id="supp"></span>)</h2>
          <form action="{% url 'checkout' %}" method="POST">
              {% csrf_token %}
              <input name="removeall" type="submit" value="Remove all">
          </form>
        </div>
        <div class="two">
          <div style="width: 100%" id="two_1">
            {% for cartinfos in cartinfo %}
              <div style="display: flex;justify-content: space-between;width: 100%;margin-bottom: 0.5em" id="two_11">
                <div id="productname_incart" class="productname_{{cartinfos.ProductName.Product_Name}}" data-item="{{cartinfos.ProductName.Product_Name}}">
                  <a style="color: black;text-decoration: none" href="{% url 'product' cartinfos.ProductName.Product_Name %}">{{cartinfos.ProductName}} x<span data-countname ="{{cartinfos.ProductName.Product_Name}}">{{cartinfos.ProductCount}}</span> </a>
                </div>
                <div id="amount_{{cartinfos.ProductName.Product_Name}}" data-itemprice="{{cartinfos.ProductName.Product_Name}}">
                  $<span data-initemprice="{{cartinfos.ProductName.Product_Name}}">{{cartinfos.Final_Price}}</span> 
                  <span style="display: none" id="amount" data-initialPrice = "{{cartinfos.ProductName.Product_Name}}">{{cartinfos.ProductName.Amount}}</span> 
                </div>
              </div>
            {% empty %}
              <p id="emptycart"  style="width: 100%">Cart is empty</p>
            {% endfor %}
          </div>
        </div>
        <hr>
        <div class="three">
          <div>Total</div>
          <div>$<span id="total"></span></div>
        </div>
      </div>
      <div id="checkout">
        <button style="cursor: pointer;"><a href="{% url 'checkout' %}">CHECKOUT</a></button>  
      </div>
    </div>
    <main>
      <div class="main_left">
        <!-- billing -->
        <div class=" input_section billing">
          <h3 class="form_head">Billing details</h3>
          <div class="towinput">
            <div class="form_tag left">
              <label class="label_tag" for="">Username</label>
              <input disabled type="text" placeholder="{{request.user.username}}">
            </div>
            <div class="form_tag right">
              <label class="label_tag" >Email address</label>
              <input disabled type="email" placeholder="{{request.user.email}}">
            </div>
          </div>
          <div id="phone_div" class="towinput">
            <div class="form_tag">
              <div class="label_div">
                <label class="label_tag" for="">Phone number</label>
                <label id="label_phone" class="label_right" for="">Phone</label>
              </div>
              <input data-name="phone" class="input_fields" type="tel" placeholder="+123456789">
            </div>
          </div>
        </div>
        <!-- Shipping info -->
        <div class="input_section shipping">
          <h3 class="form_head">Shipping info</h3>
          <div class="form_tag">
            <div class="label_div">
              <label class="label_tag" for="">Address</label>
              <label id="label_address" class="label_right" >Address</label>
            </div>
            <input data-name="address" class="input_fields" type="text" placeholder="No 7 close one imutun CDA">
          </div>
          <div class="towinput">
            <div class="form_tag left">
              <div class="label_div">
                <label class="label_tag" for="">ZIP</label>
                <label id="label_zip" class="label_right" >ZIP</label>
              </div>
              <input data-name="zip" class="input_fields" type="number" placeholder="213433">
            </div>
            <div class="form_tag right">
              <div class="label_div">
                <label class="label_tag" for="">City</label>
                <label id="label_city" class="label_right" >City</label>
              </div>
              <input data-name="city" class="input_fields" type="text" placeholder="Lagos">
            </div>
          </div>
          <div id="country_div" class="towinput">
            <div class="form_tag">
              <div class="label_div">
                <label class="label_tag" for="">Country</label>
                <label id="label_country" class="label_right" >Country</label>
              </div>
              <input  >
              <datalist id="countries">
                  <option value="Afghanistan">
                  <option value="Albania">
                  <option value="Algeria">
                  <option value="Andorra">
                  <option value="Angola">
                  <option value="Antigua & Deps">
                  <option value="Argentina">
                  <option value="Armenia">
                  <option value="Australia">
                  <option value="Austria">
                  <option value="Azerbaijan">
                  <option value="Bahamas">
                  <option value="Bahrain">
                  <option value="Bangladesh">
                  <option value="Barbados">
                  <option value="Belarus">
                  <option value="Belgium">
                  <option value="Belize">
                  <option value="Benin">
                  <option value="Bhutan">
                  <option value="Bolivia">
                  <option value="Bosnia Herzegovina">
                  <option value="Botswana">
                  <option value="Brazil">
                  <option value="Brunei">
                  <option value="Bulgaria">
                  <option value="Burkina">
                  <option value="Burundi">
                  <option value="Cambodia">
                  <option value="Cameroon">
                  <option value="Canada">
                  <option value="Cape Verde">
                  <option value="Central African Rep">
                  <option value="Chad">
                  <option value="Chile">
                  <option value="China">
                  <option value="Colombia">
                  <option value="Comoros">
                  <option value="Congo">
                  <option value="Congo {Democratic Rep}">
                  <option value="Costa Rica">
                  <option value="Croatia">
                  <option value="Cuba">
                  <option value="Cyprus">
                  <option value="Czech Republic">
                  <option value="Denmark">
                  <option value="Djibouti">
                  <option value="Dominica">
                  <option value="Dominican Republic">
                  <option value="East Timor">
                  <option value="Ecuador">
                  <option value="Egypt">
                  <option value="El Salvador">
                  <option value="Equatorial Guinea">
                  <option value="Eritrea">
                  <option value="Estonia">
                  <option value="Ethiopia">
                  <option value="Fiji">
                  <option value="Finland">
                  <option value="France">
                  <option value="Gabon">
                  <option value="Gambia">
                  <option value="Georgia">
                  <option value="Germany">
                  <option value="Ghana">
                  <option value="Greece">
                  <option value="Grenada">
                  <option value="Guatemala">
                  <option value="Guinea">
                  <option value="Guinea-Bissau">
                  <option value="Guyana">
                  <option value="Haiti">
                  <option value="Honduras">
                  <option value="Hungary">
                  <option value="Iceland">
                  <option value="India">
                  <option value="Indonesia">
                  <option value="Iran">
                  <option value="Iraq">
                  <option value="Ireland {Republic}">
                  <option value="Israel">
                  <option value="Italy">
                  <option value="Ivory Coast">
                  <option value="Jamaica">
                  <option value="Japan">
                  <option value="Jordan">
                  <option value="Kazakhstan">
                  <option value="Kenya">
                  <option value="Kiribati">
                  <option value="Korea North">
                  <option value="Korea South">
                  <option value="Kosovo">
                  <option value="Kuwait">
                  <option value="Kyrgyzstan">
                  <option value="Laos">
                  <option value="Latvia">
                  <option value="Lebanon">
                  <option value="Lesotho">
                  <option value="Liberia">
                  <option value="Libya">
                  <option value="Liechtenstein">
                  <option value="Lithuania">
                  <option value="Luxembourg">
                  <option value="Macedonia">
                  <option value="Madagascar">
                  <option value="Malawi">
                  <option value="Malaysia">
                  <option value="Maldives">
                  <option value="Mali">
                  <option value="Malta">
                  <option value="Marshall Islands">
                  <option value="Mauritania">
                  <option value="Mauritius">
                  <option value="Mexico">
                  <option value="Micronesia">
                  <option value="Moldova">
                  <option value="Monaco">
                  <option value="Mongolia">
                  <option value="Montenegro">
                  <option value="Morocco">
                  <option value="Mozambique">
                  <option value="Myanmar, {Burma}">
                  <option value="Namibia">
                  <option value="Nauru">
                  <option value="Nepal">
                  <option value="Netherlands">
                  <option value="New Zealand">
                  <option value="Nicaragua">
                  <option value="Niger">
                  <option value="Nigeria">
                  <option value="Norway">
                  <option value="Oman">
                  <option value="Pakistan">
                  <option value="Palau">
                  <option value="Panama">
                  <option value="Papua New Guinea">
                  <option value="Paraguay">
                  <option value="Peru">
                  <option value="Philippines">
                  <option value="Poland">
                  <option value="Portugal">
                  <option value="Qatar">
                  <option value="Romania">
                  <option value="Russian Federation">
                  <option value="Rwanda">
                  <option value="St Kitts & Nevis">
                  <option value="St Lucia">
                  <option value="Saint Vincent & the Grenadines">
                  <option value="Samoa">
                  <option value="San Marino">
                  <option value="Sao Tome & Principe">
                  <option value="Saudi Arabia">
                  <option value="Senegal">
                  <option value="Serbia">
                  <option value="Seychelles">
                  <option value="Sierra Leone">
                  <option value="Singapore">
                  <option value="Slovakia">
                  <option value="Slovenia">
                  <option value="Solomon Islands">
                  <option value="Somalia">
                  <option value="South Africa">
                  <option value="South Sudan">
                  <option value="Spain">
                  <option value="Sri Lanka">
                  <option value="Sudan">
                  <option value="Suriname">
                  <option value="Swaziland">
                  <option value="Sweden">
                  <option value="Switzerland">
                  <option value="Syria">
                  <option value="Taiwan">
                  <option value="Tajikistan">
                  <option value="Tanzania">
                  <option value="Thailand">
                  <option value="Togo">
                  <option value="Tonga">
                  <option value="Trinidad & Tobago">
                  <option value="Tunisia">
                  <option value="Turkey">
                  <option value="Turkmenistan">
                  <option value="Tuvalu">
                  <option value="Uganda">
                  <option value="Ukraine">
                  <option value="United Arab Emirates">
                  <option value="United Kingdom">
                  <option value="United States">
                  <option value="Uruguay">
                  <option value="Uzbekistan">
                  <option value="Vanuatu">
                  <option value="Vatican City">
                  <option value="Venezuela">
                  <option value="Vietnam">
                  <option value="Yemen">
                  <option value="Zambia">
                  <option value="Zimbabwe">
              </datalist>
            </div>
          </div>
        </div>
        <!-- payment -->
        <div id="payment" class="input_section payment">
          <h3 class="form_head">Payment details</h3>
          <div style="grid-row-gap: 1em;" class="towinput">
            <div><h3>PAYMENT METHOD</h3></div>
            <div id="radiodiv1" class="radiodiv">
              <input data-name="emoney" class="payment_option" name="paymenttype" type="radio"><label for="">e-Money</label>
            </div>
            <div id="hidden_section">
              <div id="payment_delivery" class="payment_type">
                <p>  The ‘Cash on Delivery’ option enables you to pay in cash when our delivery courier arrives at your residence. Just make sure your address is correct so that your order will not be cancelled.</p>
              </div>
              <form id="payment_emoney" class="payment_type">
                <div class="form_tag right">
                  <input type="number" placeholder="e-Money number">
                </div>
                <div class="form_tag right">
                  <input type="password" placeholder="e-money PIN">
                </div>
              </form> 
            </div>
            <div id="radiodiv2" class="radiodiv">
              <input data-name="delivery" class="payment_option" name="paymenttype" type="radio"><label for="">Cash on Delivery</label>
            </div>
          </div>
        </div>
      </div>
      <div class="main_right">
        <h3>SUMMARY</h3>
        {% for cartinfos in cartinfo %}
          <div id="checkout_display">
            <div>
              <a style="color: black;text-decoration: none" href="{% url 'product' cartinfos.ProductName.Product_Name %}">
                <div style="display: flex">
                  <img src="{{cartinfos.ProductName.Product_Image.url}}" alt="">
                  <div id="name_left">
                    <h3 class="amount">{{cartinfos.ProductName.Title}}</h3>
                    <span>${{cartinfos.Final_Price}}</span>
                  </div>
                </div>
              </a>
            </div>
            <p><span>x</span>{{cartinfos.ProductCount}}</p>
          </div>
        {% endfor %}
        <div class="checkout_details" >
          <h3 class="checkout_labels">Total</h3>
          <h3>$<span id="total_amount"></span></h3>
        </div>
        <div class="checkout_details" >
          <h3 class="checkout_labels">SHIPPING</h3>
          <h3>$<span id="shipping"></span></h3>
        </div>
        <div class="checkout_details" >
          <h3 class="checkout_labels">VAT (TAX INCLUDED)</h3>
          <h3>$<span id="vat"></span></h3>
        </div>
        <div class="checkout_details" >
          <h3 class="checkout_labels">GRAND TOTAL</h3>
          <h3>$<span id="grandtotal"></span></h3>
        </div>
        <div id="checkout_end">
          <div>
            <button class="pay" type="submit">CONTINUE & PAY</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="foot-item-1" class="fooot-item">
        <img src="{% static 'commerce/images/shared/logo.svg' %}">
      </div>
      <div id="foot-item-2" class="foot-item">
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'headphones' %}">Headphones</a></li>
            <li><a href="{% url 'speaker' %}">Speakers</a></li>
            <li><a href="{% url 'earphones' %}">Earphones</a></li>
          </ul>
        </nav>
      </div>
      <div id="foot-item-3" class="foot-item">
        <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
      </div>
      <div id="foot-item-4" class="foot-item">
        <p>Copyright 2021. All Rights Reserved</p>
      </div>
      <div id="foot-item-5" class="foot-item">
        <img src="{% static 'commerce/images/shared/icon-facebook.svg'%}" alt="">
        <img src="{% static 'commerce/images/shared/icon-twitter.svg'%}" alt="">
        <img src="{% static 'commerce/images/shared/icon-instagram.svg'%}" alt="">
      </div>
    </footer>
  </div>
</body>
</html>