{% extends 'commerce/template.html' %}

{% load static %}

    {% block head %}
        EARPHONES
    {% endblock %}

    {% block cart %}
    <div class="topp">
        <img height="20px" id="closecart" src="{% static 'commerce/images/icon-close.svg' %}" alt="">
    </div>
    <div class="bottom">
      <div class="one">
        <h2>Cart(<span id="supp"></span>)</h2>
        <form action="{% url 'earphones' %}" method="POST">
            {% csrf_token %}
            <input name="removeall" type="submit" value="Remove all">
        </form>
      </div>
      <div class="two">
        <div style="width: 100%" id="two_1">
            {% for cartinfos in cartinfo %}
                <div style="display: flex;justify-content: space-between;width: 100%;margin-bottom: 0.5em" id="two_11">
                    <div id="productname_incart" class="productname_{{cartinfos.ProductName.Product_Name}}" data-item="{{cartinfos.ProductName.Product_Name}}">
                        <a style="color: black;text-decoration: none" href="{% url 'product' cartinfos.ProductName.Product_Name %}">{{cartinfos.ProductName}} x<span data-countname ="{{cartinfos.ProductName.Product_Name}}">{{cartinfos.ProductCount}}</span> </a>
                    </div>
                    <div id="amount_{{cartinfos.ProductName.Product_Name}}" data-itemprice="{{cartinfos.ProductName.Product_Name}}"> $<span data-initemprice="{{cartinfos.ProductName.Product_Name}}" class="amount">{{cartinfos.Final_Price}}</span></div>
                </div>
            {% empty %}
              <p id="emptycart"  style="width: 100%">Cart is empty</p>
            {% endfor %}
        </div>
      </div>
      <hr>
      <div class="three">
        <div>Total</div>
        <div >$<span id="total"></span></div>
      </div>
    </div>
    <div id="checkout">
        <button style="cursor: pointer;"><a href="{% url 'checkout' %}">CHECKOUT</a></button>
    </div>
{% endblock %}


    {% block body %}
        <div class="earphones">
            <div class="earproduct">
                <div class="earproduct_left">
                    <img src="{% static 'commerce/images/category-earphones/earphoneDesktop.jpg' %}" alt="">
                </div>
                <div class="earproduct_right">
                    <h3> New product</h3>
                    <h1> YX1 wireless earphones</h1>
                    <p>  Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature.</p>
                    <button><a href="{% url 'product' product1.Product_Name %}">See product</a></button>
                </div>
            </div>
        </div>

    {% endblock %}