{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Audiophile</title>
        <link rel="stylesheet" href="{% static 'commerce/register.css' %}">
        <script src="{% static 'commerce/auth.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <input id="hidden_input" type="hidden" value="{{request.user}}">
            <div class="main">
                <div class="left">
                    <div class="image">
                        <img id="brown_logo1" src="{% static 'commerce/images/shared/logo.svg' %}" alt="">
                    </div>
                    <div class="text">
                        <h1> Let's Get Started</h1>
                    </div>
                </div>
                <div class="right">
                    <h1>Registration</h1>
                    {% for msg in messages %}
                        <div class="error_msg">
                            <div id="error_1">
                                <p>{{msg}}</p>
                            </div>
                            <div id="error_2">
                                <img id="close_icon" src="{% static 'commerce/images/black_icon-close.svg' %}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="input_div">
                            <label for="username">Username</label>
                            <input name="username" type="text" placeholder="Enter your Username" />
                        </div>
                        <div class="input_div">
                           <label for="email">Email</label>
                            <input name="email" type="email" placeholder="name@example.com" />
                        </div>
                        <div class="input_div">
                            <label for="password">Password</label>
                            <input name="password" type="password" placeholder="Create a password" />
                        </div>
                        <div class="input_div">
                            <label for="password">Confirm Password</label>
                            <input type="password" placeholder="confirm password" name="confirmpassword"/>
                        </div>
                        <input type="submit" value="register">
                    </form>
                    <p class="login_link">Already have an account? <a href="{% url 'login' %}">login here</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
